<%- include("partials/header") %>
  
  <h2>Write a new post</h2>

  <form action="/posts" method="post">
    <input type="text" name="title" placeholder="Post Title" required>

    <textarea name="content" rows="8" placeholder="Write your thoughts..." required></textarea>

    <button type="submit">Publish</button>
  </form>

  <a href="/">← Back to posts</a>
  
<%- include("partials/footer") %>